<div class="row full-screen-height-size body" ng-controller="AttendeeController">

        <div class="row body-top-segment">
            <!-- IF User is logged in, show session options -->
            <div id="sessionOptionsContainer" class="sessionOptionsContainer"> 
                <p> Logged in as:  {{user.username}} </p>
                <button ng-click="logout()" class="ghost-button-1 logout-button"> Logout </button>
            </div>

            <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12 full-screen-width-size upper segment text-centered box-shadowed">
                
                <h1 class="font-4 dark-orange text-shadowed"> {{header.title}} </h1>
                <p class="font-5"> {{header.subTitle}} <hr></p>
    
                <!-- Page Options -->
                <div class="row tile-container demos-container" id="demos-container" ng-show="!showAttendees && !createAttendee">
                    <a class="col-lg-3 col-md-3 col-sm-12 col-xs-12 tile" ng-click="(option.action)()" ng-repeat="option in pageOptions">
                        <div class="title font-6"> {{option.title}}  </div>
                        <hr>
                        <div class="description padded font-1"> {{option.description}} </div>
                    </a>
                </div>
                    
                <!-- IF Showing Demos Stations -->
                <div class="row tile-container demos-container" id="demos-container" ng-show="attendees.length && showAttendees">
                    <a class="tile" ng-class="showExtended ? 'col-lg-12 col-md-12 col-sm-12 col-xs-12' : 'col-lg-3 col-md-3 col-sm-12 col-xs-12'"  ui-sref="attendee({attendeeId: '{{item._id}}' })" ng-repeat="item in attendees track by item._id">
                        <div class="title font-6"> {{item.firstName}} {{item.lastName}} </div>
                        <hr>
                        <div class="description padded font-1"> Email: {{item.email}}  </div>
                        <div class="description padded font-1"> Phone: {{item.phone}} </div>
                        <div class="category padded font-1" ng-show="showExtended"> Unique ID: {{item._id}} </div>
                        <div class="category padded font-1" ng-show="showExtended"> Badge Number: {{item.badgeNumber}} </div>
                        <div class="category padded font-1" ng-show="showExtended"> Points Available: {{item.pointsCount}} </div>
                        <div class="category padded font-1" ng-show="showExtended"> Points Accumulated: {{item.pointsAccumulated}} </div>
                        <hr ng-show="showExtended">
                        <div class="description padded font-1" ng-show="showExtended"> 
                            Registration Status:
                            <ul class="padded">
                                <li>Scanned: {{item.registrationStatus.scanned}}</li>
                                <li>Terms: {{item.registrationStatus.terms}}</li>
                                <li>Question 0: {{item.registrationStatus.question_0}}</li>
                                <li>Question 1: {{item.registrationStatus.question_1}}</li>
                                <li>Question 2: {{item.registrationStatus.question_2}}</li>
                                <li>Question 3: {{item.registrationStatus.question_3}}</li>
                                <li>Question 4: {{item.registrationStatus.question_4}}</li>
                                <li>Completed: {{item.registrationStatus.complete}}</li>
                            </ul>
                            <hr>
                        </div>
                        <div class="description padded font-1" ng-show="showExtended"> 
                            Questionnaire: 
                            <ul class="padded">
                                <li ng-repeat="question in item.questionnaire">
                                    {{question.question}} <br> Answer: {{question.title}}
                                </li>
                            </ul>
                            <hr>
                        </div>
                        <div class="description padded font-1" ng-show="showExtended"> 
                            Demos Viewed: 
                            <ul class="padded">
                                <li ng-repeat="demo in item.demos">
                                    {{demo._id}} - {{demo.title}}
                                </li>
                            </ul>
                        </div>

                        <div class="description padded font-1" ng-show="showExtended"> 
                            Prizes Redeemed: 
                            <ul class="padded">
                                <li ng-repeat="prize in item.redemptions">
                                    {{prize._id}} - {{prize.title}} - {{prize.points}} points
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
    
                <!-- IF Creating a new Demo -->
                <div class="row form-container" id="attendees-container" ng-show="createAttendee">
                    <form action="/api/attendee" method="POST">

                        <div class="row field">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Badge Number:</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                                <input type="text" name="badgeNumber" placeholder="badgeNumber" value="test_badgeNumber" />
                            </div>
                        </div>
                        <div class="row field">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">First Name:</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                                <input type="text" name="firstName" placeholder="firstname" value="test_firstname" />
                            </div>
                        </div>
                        <div class="row field">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Last Name:</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                                <input type="text" name="lastName" placeholder="lastname" value="test_lastname" />
                            </div>
                        </div>
                        <div class="row field">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Email:</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                                <input type="text" name="email" placeholder="email" value="test_email" />
                            </div>
                        </div>
                        <div class="row field">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Phone:</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                                <input type="text" name="phone" placeholder="phone" value="test_phone" />
                            </div>
                        </div>
                        <div class="row field">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Title:</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                                <input type="text" name="title" placeholder="title" value="test_title" />
                            </div>
                        </div>
                        <div class="row field">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Company:</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                                <input type="text" name="company" placeholder="company" value="test_company" />
                            </div>
                        </div>
                        <br>
                        <div class="row field">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input class="full-width-size form-submit" type="submit" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
    
                <!-- IF Error messages -->
                <div class="row errorMessageContainer" ng-show="errorMessage.show">
                    <a ng-click="showDemoStations = false; createDemo = false; errorMessage.show = false;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tile">
                        <div class="title font-6"> {{errorMessage.title}}  </div>
                        <hr>
                        <ul class="description padded font-1">
                            <li ng-repeat="row in errorMessage.description">{{row}}</li>
                        </ul>
                    </a>
                </div>



                <!-- ...................................... Testing Loggin Demo for Attendee ...................................... -->
                <form action="/api/attendee/badgeId/123546789/demo/5a958a92e1a3a2cbd9ebea26" method="POST">
                    <input type="submit" value="Post Demo for Attendee" />
                </form>
                <!-- .............................................................................................................. -->

                <!-- ............................................ Testing Redeeming Prize ............................................ -->
                <!-- <form action="/api/attendee/badgeId/test_badgeNumber/redeemPrize/5a944edbb322b292ae169d8f" method="POST">
                    <input type="submit" value="submit">
                </form> -->
                <!-- ................................................................................................................. -->
                    

                
            </div>
        </div>
    
        <!-- Bottom Nav-Bar -->
        <div class="row body-bottom-segment full-screen-width-size">
            <a ui-sref="demos" ui-sref-opts="{reload: true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-centered segment font-4 white card">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-centered"> 
                    DEMOS
                </div>
            </a>
            <a ui-sref="demoStations" ui-sref-opts="{reload: true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-centered segment font-4 white card">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-centered"> 
                    DEMO STATIONS
                </div>
            </a>
            <a ui-sref="attendees" ui-sref-opts="{reload: true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-centered segment font-4 white card selected">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-centered"> 
                    ATTENDEES
                </div>
            </a>
            <a ui-sref="prizes" ui-sref-opts="{reload: true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-centered segment font-4 white card">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-centered"> 
                    PRIZES
                </div>
            </a>
        </div>
    
    </div>
    
                