<div class="row full-screen-height-size body">

        <div class="row body-top-segment">
            <!-- IF User is logged in, show session options -->
            <div id="sessionOptionsContainer" class="sessionOptionsContainer"> 
                <p> Logged in as:  {{user.username}} </p>
                <button ng-click="logout()" class="ghost-button-1 logout-button"> Logout </button>
            </div>

            <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12 full-screen-width-size upper segment text-centered box-shadowed">
                
                <h1 class="font-4 dark-orange text-shadowed"> {{header.title}} </h1>
                <p class="font-5"> {{header.subTitle}} <hr></p>
    
                <!-- Page Options -->
                <div class="row tile-container demos-container" id="demos-container" ng-show="!showAttendees && !createAttendee">
                    <a class="col-lg-3 col-md-3 col-sm-12 col-xs-12 tile" ng-click="(option.action)()" ng-repeat="option in pageOptions">
                        <div class="title font-6"> {{option.title}}  </div>
                        <hr>
                        <div class="description padded font-1"> {{option.description}} </div>
                    </a>
                </div>
                    
                <!-- IF Showing Demos Stations -->
                <div class="row tile-container demos-container" id="demos-container" ng-show="attendees.length && showAttendees">
                    <a ng-hide="showExtended" class="tile" ng-class="showExtended ? 'col-lg-12 col-md-12 col-sm-12 col-xs-12' : 'col-lg-3 col-md-3 col-sm-12 col-xs-12'"  ui-sref="attendee({attendeeId: '{{item._id}}' })" ng-repeat="item in attendees track by item._id">
                        <div class="title font-6"> {{item.firstName}} {{item.lastName}} </div>
                        <hr>
                        <div class="description padded font-1"> Email: {{item.email}}  </div>
                        <div class="description padded font-1"> Phone: {{item.phone}} </div>
                    </a>
                    <div ng-show="showExtended" class="tile" ng-repeat="item in attendees track by item._id">
                        <div class="title font-6"> {{item.firstName}} {{item.lastName}} </div>

                        <div class="row description padded font-1">
                            <button ng-click="deleteAttendee(item.badgeNumber)" class="ghost-button-1"> Delete Attendee </button>
                        </div>

                        <hr>
                        <div class="row description padded font-1">
                            <div class="col-2"> Email: </div>
                            <div class="col-10"> {{item.email}} </div>
                        </div>
                        <div class="row description padded font-1">
                            <div class="col-2"> Phone: </div>
                            <div class="col-10"> {{item.phone}} </div>
                        </div>
                        <div class="row description padded font-1">
                            <div class="col-2"> Unique ID: </div>
                            <div class="col-10"> {{item._id}} </div>
                        </div>
                        <div class="row description padded font-1">
                            <div class="col-2"> Badge Number: </div>
                            <div class="col-10"> {{item.badgeNumber}} </div>
                        </div>
                        <div class="row description padded font-1">
                            <div class="col-2"> Company: </div>
                            <div class="col-10"> {{item.company}} </div>
                        </div>
                        <div class="row description padded font-1">
                            <div class="col-2"> Job Title: </div>
                            <div class="col-10"> {{item.title}} </div>
                        </div>
                        <div class="row description padded font-1">
                            <div class="col-2"> Recommended Demos: </div>
                            <div class="col-10">
                                <ul>
                                    <li class="row description padded font-1" ng-repeat="recommendedDemo in item.recommendedDemos">
                                        {{recommendedDemo}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row description padded font-1">
                            <div class="col-2"> Points Available: </div>
                            <div class="col-10"> {{item.pointsCount}} </div>
                        </div>
                        <div class="row description padded font-1">
                            <div class="col-2"> Points Accumulated: </div>
                            <div class="col-10"> {{item.pointsAccumulated}} </div>
                        </div>
                        <hr>
                        <div class="description padded font-1" ng-show="showExtended"> 
                            Registration Status:
                            <ul>
                                <li class="row description padded font-1">
                                    <div class="col-2"> Scanned: </div>
                                    <div class="col-10"> {{item.registrationStatus.scanned}} </div>
                                </li>
                                <li class="row description padded font-1">
                                    <div class="col-2"> Terms: </div>
                                    <div class="col-10"> {{item.registrationStatus.terms}} </div>
                                </li>
                                <li class="row description padded font-1">
                                    <div class="col-2"> Question 0: </div>
                                    <div class="col-10"> {{item.registrationStatus.question_0}} </div>
                                </li>
                                <li class="row description padded font-1">
                                    <div class="col-2"> Question 1: </div>
                                    <div class="col-10"> {{item.registrationStatus.question_1}} </div>
                                </li>
                                <li class="row description padded font-1">
                                    <div class="col-2"> Question 2: </div>
                                    <div class="col-10"> {{item.registrationStatus.question_2}} </div>
                                </li>
                                <li class="row description padded font-1">
                                    <div class="col-2"> Question 3: </div>
                                    <div class="col-10"> {{item.registrationStatus.question_3}} </div>
                                </li>
                                <li class="row description padded font-1">
                                    <div class="col-2"> Question 4: </div>
                                    <div class="col-10"> {{item.registrationStatus.question_4}} </div>
                                </li>
                                <li class="row description padded font-1">
                                    <div class="col-2"> Completed: </div>
                                    <div class="col-10"> {{item.registrationStatus.complete}} </div>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <div class="description padded font-1" ng-show="showExtended"> 
                            Questionnaire: 
                            <ul>
                                <li class="row description padded font-1" ng-repeat="question in item.questionnaire">
                                    <div class="col-2"> Question: {{question.question}} </div>
                                    <div class="col-10"> Answer: {{question.answer}} </div>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <div class="description padded font-1" ng-show="showExtended"> 
                            Demos Viewed: 
                            <ul>
                                <li class="row description padded font-1" ng-repeat="demo in item.demos">
                                    <div class="col-2"> {{demo._id}} </div>
                                    <div class="col-10"> {{demo.title}} </div>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <div class="description padded font-1" ng-show="showExtended"> 
                            Prizes Redeemed: 
                            <ul>
                                <li class="row description padded font-1" ng-repeat="prize in item.redemptions">
                                    <div class="col-4"> {{prize._id}} </div>
                                    <div class="col-4"> {{prize.title}} </div>
                                    <div class="col-4"> {{prize.points}} points </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <!-- IF Creating a new Demo -->
                <div class="row form-container" id="attendees-container" ng-show="createAttendee">
                    <form action="/api/attendee" method="POST">

                        <div class="row field">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Badge Number:</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                                <input type="text" name="badgeNumber" placeholder="badgeNumber" value="test_badgeNumber" />
                            </div>
                        </div>
                        <div class="row field">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">First Name:</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                                <input type="text" name="firstName" placeholder="firstname" value="test_firstname" />
                            </div>
                        </div>
                        <div class="row field">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Last Name:</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                                <input type="text" name="lastName" placeholder="lastname" value="test_lastname" />
                            </div>
                        </div>
                        <div class="row field">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Email:</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                                <input type="text" name="email" placeholder="email" value="test_email" />
                            </div>
                        </div>
                        <div class="row field">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Phone:</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                                <input type="text" name="phone" placeholder="phone" value="test_phone" />
                            </div>
                        </div>
                        <div class="row field">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Title:</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                                <input type="text" name="title" placeholder="title" value="test_title" />
                            </div>
                        </div>
                        <div class="row field">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Company:</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                                <input type="text" name="company" placeholder="company" value="test_company" />
                            </div>
                        </div>
                        <br>
                        <div class="row field">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input class="full-width-size form-submit" type="submit" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
    
                <!-- IF Error messages -->
                <div class="row errorMessageContainer" ng-show="errorMessage.show">
                    <div ng-click="showAttendees = false; createAttendee = false; errorMessage.show = false;" class="tile">
                        <div class="title font-6"> {{errorMessage.title}}  </div>
                        <hr>
                        <ul class="description padded font-1">
                            <li ng-repeat="row in errorMessage.description">{{row}}</li>
                        </ul>
                    </div>
                </div>



                <!-- ...................................... Testing Loggin Demo for Attendee ...................................... -->
                <!-- <form action="/api/attendee/badgeId/123456789/demo/5a96fd56d169f0306481f7b4" method="POST">
                    <input type="submit" value="Post Demo for Attendee" />
                </form> -->
                <!-- .............................................................................................................. -->

                <!-- ............................................ Testing Redeeming Prize ............................................ -->
                <!-- <form action="/api/attendee/badgeId/test_badgeNumber/redeemPrize/5a944edbb322b292ae169d8f" method="POST">
                    <input type="submit" value="submit">
                </form> -->
                <!-- ................................................................................................................. -->

                <!-- ............................................ API call to RFID API ............................................ -->
                <!-- <button ng-click="lookupRfid('OTk5MzMeMTc0MR9Nci4fZmlyc3RuYW1lIDkzNB9sYXN0bmFtZSA5MzQfbWlkZGxlbmFtZSA5MzQfU3IuH+fW8wJ8xWcr7HzUSE4gM+GtKRoJ7zce6UTeNEXozPsS1gJmbRlSluha5fHAGrkIY/5xnDjqGnwrDEDdVW7mrYmeLmLn8D8PXV7Ke9Sp6LqTivHl+TlEWeTD+5kTT40TztgCKeQhGJ9PXRaS2SslZDNi01tlxwXrTPllvZG2Bp2dDYm46Tmbhs3d/0xDHuJVP+nZAM5Craf4kEAODtANWHrPaQOdMV9dhIKItpQtZVjNNUY4hjtpa3HJ1TBBvRaMh6nPjbBqBtXmOqQ7mNjF6Ci0viPa1GXydrlYrAgWMtvcp83MV+i6WZzTgRExdJlqVDiqE04EhlJ6UkNRrsk+MG6EUB3ZFWGvZA==')">Lookup RFID</button> -->
                <!-- ................................................................................................................. -->
                    

                
            </div>
        </div>
    
        <!-- Bottom Nav-Bar -->
        <div class="row body-bottom-segment full-screen-width-size">
            <a ui-sref="demos" ui-sref-opts="{reload: true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-centered segment font-4 white card">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-centered"> 
                    DEMOS
                </div>
            </a>
            <a ui-sref="demoStations" ui-sref-opts="{reload: true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-centered segment font-4 white card">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-centered"> 
                    DEMO STATIONS
                </div>
            </a>
            <a ui-sref="attendees" ui-sref-opts="{reload: true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-centered segment font-4 white card selected">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-centered"> 
                    ATTENDEES
                </div>
            </a>
            <a ui-sref="prizes" ui-sref-opts="{reload: true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-centered segment font-4 white card">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-centered"> 
                    PRIZES
                </div>
            </a>
        </div>
    
    </div>
    
                