<div class="row full-screen-height-size body">
    
    <div class="row body-top-segment">
        
        <!-- IF User is logged in, show session options -->
        <div id="sessionOptionsContainer" class="sessionOptionsContainer"> 
            <p> Logged in as:  {{user.username}} </p>
            <button ng-click="logout()" class="ghost-button-1 logout-button"> Logout </button>
        </div>
            
        <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12 full-screen-width-size upper segment text-centered box-shadowed">
            
            <h1 class="font-4 dark-orange text-shadowed"> {{header.title}} </h1>
            <p class="font-5"> {{header.subTitle}} <hr></p>

            <!-- Page Options -->
            <div class="row tile-container demos-container" id="demos-container" ng-show="!showDemos && !createDemo">
                <a class="col-lg-3 col-md-3 col-sm-12 col-xs-12 tile" ng-click="(option.action)()" ng-repeat="option in pageOptions">
                    <div class="title font-6"> {{option.title}}  </div>
                    <hr>
                    <div class="description padded font-1"> {{option.description}} </div>
                </a>
            </div>
                
            <!-- IF Showing Demos -->
            <div class="row tile-container demos-container" id="demos-container" ng-show="demos.length && showDemos">
                <a ng-hide="showExtended" class="tile" ui-sref="demo({demoId: '{{item._id}}' })" ng-repeat="item in demos">
                    <div class="title font-6"> {{item.title}}  </div>
                    <hr>
                    <div class="row description padded font-1">
                        <div class="col-6"> Points: </div>
                        <div class="col-6"> {{item.points}} </div>
                        <div class="col-6"> Spot #{{item.index}} </div>
                    </div>
                    <div class="description padded font-1"> {{item.description}} </div>
                </a>
                <div ng-show="showExtended" class="tile" ng-repeat="item in demos">
                    <div class="title font-6"> {{item.title}}  </div>

                    <button class="ghost-button-1" ng-hide="editingDemo" ng-click="editingDemo=true;"> Edit Demo </button>
                    <button class="ghost-button-1" ng-hide="editingDemo" ng-click="deleteDemo(item._id)"> Delete Demo </button>

                    <!-- <button class="ghost-button-1" ng-show="editingDemo" ng-click="editDemo(item._id)"> Save Demo </button>
                    <button class="ghost-button-1" ng-show="editingDemo" ng-click="editingDemo=false;"> Cancel </button> -->

                    <hr>
                    <div ng-hide="editingDemo">
                        <div class="row description padded font-1">
                            <div class="col-2"> Index / Spot: </div>
                            <div class="col-10"> {{item.index}} </div>
                        </div>
                        <div class="row description padded font-1">
                            <div class="col-2">Demo ID:</div>
                            <div class="col-10">{{item._id}}</div>
                        </div>
                        <div class="row description padded font-1">
                            <div class="col-2"> Points: </div>
                            <div class="col-10"> {{item.points}} </div>
                        </div>
                        <div class="row description padded font-1">
                            <div class="col-2"> Team Name: </div>
                            <div class="col-10"> {{item.team}} </div>
                        </div>
                        <div class="row description padded font-1">
                            <div class="col-2"> Category: </div>
                            <div class="col-10"> {{item.category}} </div>
                        </div>
                        <div class="row description padded font-1">
                            <div class="col-2"> Description: </div>
                            <div class="col-10"> {{item.description}} </div>
                        </div>
                        <div class="row description padded font-1">
                            <div class="col-2"> Require Checkout: </div>
                            <div class="col-10"> {{item.requireCheckout == "true" ? "Yes" : "No"}} </div>
                        </div>
                    </div>

                    <div ng-show="editingDemo">
                        <form action="/api/demo" method="POST">
                            <div class="row field">
                                <div class="col-4 font-5">Demo ID:</div>
                                <div class="col-8 font-5">
                                    <input type="text" name="_id" placeholder="Demo ID" ng-model="item._id" readonly="readonly" />
                                </div>
                            </div>
                            <div class="row field">
                                <div class="col-4 font-5">Demo Spot / Index:</div>
                                <div class="col-8 font-5">
                                    <input type="text" name="index" ng-model="item.index" />
                                </div>
                            </div>
                            <div class="row field">
                                <div class="col-4 font-5">Title:</div>
                                <div class="col-8 font-5">
                                    <input type="text" name="title" ng-model="item.title" />
                                </div>
                            </div>
                            <div class="row field">
                                <div class="col-4 font-5">Points:</div>
                                <div class="col-8 font-5">
                                    <input type="number" name="points" ng-model="item.points" />
                                </div>
                            </div>
                            <div class="row field">
                                <div class="col-4 font-5">Team Name:</div>
                                <div class="col-8 font-5">
                                    <input type="text" name="team" ng-model="item.team" />
                                </div>
                            </div>
                            <div class="row field">
                                <div class="col-4 font-5">Category:</div>
                                <div class="col-8 font-5">
                                    <input type="text" name="category" ng-model="item.category" />
                                </div>
                            </div>
                            <div class="row field">
                                <div class="col-4 font-5">Require Checkout:</div>
                                <div class="col-8 font-5">
                                    <select name="requireCheckout">
                                        <option value="false" selected> No </option>
                                        <option value="true"> Yes </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row field">
                                <div class="col-4 font-5">Description:</div>
                                <div class="col-8 font-5">
                                    <textarea name="description" placeholder="describe the demo">{{item.description}}</textarea>
                                </div>
                            </div>
                            <br>
                            <div class="row field">
                                <input class="ghost-button-1 col-6" type="submit" ng-show="editingDemo" ng-click="editDemo(item._id)" value="Save"  style="text-align: center;"/>
                                <input class="ghost-button-1 col-6" ng-show="editingDemo" ng-click="editingDemo=false;" value="Cancel"  style="text-align: center;"/>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <!-- IF Creating a new Demo -->
            <div class="row form-container" id="demos-container" ng-show="createDemo">
                <form action="/api/demo" method="POST">
                    <div class="row field">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Demo Spot / Index:</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                            <input type="text" name="index" placeholder="spot #" value="" />
                        </div>
                    </div>
                    <div class="row field">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Title:</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                            <input type="text" name="title" placeholder="title" value="" />
                        </div>
                    </div>
                    <div class="row field">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Points:</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                            <input type="number" name="points" placeholder="points" value="" />
                        </div>
                    </div>
                    <div class="row field">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Team Name:</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                            <input type="text" name="team" placeholder="team" value="" />
                        </div>
                    </div>
                    <div class="row field">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Category:</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                            <input type="text" name="category" placeholder="category" value="" />
                        </div>
                    </div>
                    <div class="row field">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Require Checkout:</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                            <select name="requireCheckout">
                                <option value="false" selected> No </option>
                                <option value="true"> Yes </option>
                            </select>
                        </div>
                    </div>
                    <div class="row field">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Description:</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                            <textarea name="description" placeholder="describe the demo"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row field">
                        <input class="full-width-size form-submit col-6" type="submit" value="Submit">
                        <input class="full-width-size form-submit col-6" type="button" value="Cancel" style="text-align: center;" ng-click="showDemos=false; createDemo=false;">
                    </div>
                </form>
            </div>

            <!-- IF Error messages -->
            <div class="row errorMessageContainer" ng-show="errorMessage.show" ng-click="showDemos=false; createDemo=false; errorMessage.show=false;">
                <div class="tile">
                    <div class="title font-6"> {{errorMessage.title}}  </div>
                    <hr>
                    <ul class="description padded font-1">
                        <li ng-repeat="row in errorMessage.description">{{row}}</li>
                    </ul>
                </div>
            </div>
                
        </div>
    </div>

    <!-- Bottom Nav-Bar -->
    <div class="row body-bottom-segment full-screen-width-size">
        <a ui-sref="demos" ui-sref-opts="{reload: true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-centered segment font-4 white card selected">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-centered"> 
                DEMOS
            </div>
        </a>
        <a ui-sref="demoStations" ui-sref-opts="{reload: true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-centered segment font-4 white card">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-centered"> 
                DEMO STATIONS
            </div>
        </a>
        <a ui-sref="attendees" ui-sref-opts="{reload: true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-centered segment font-4 white card">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-centered"> 
                ATTENDEES
            </div>
        </a>
        <a ui-sref="prizes" ui-sref-opts="{reload: true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-centered segment font-4 white card">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-centered"> 
                PRIZES
            </div>
        </a>
    </div>

</div>

            