<div class="row dark-blue-bg full-screen-height-size">
    <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12 login-credentials box-shadowed">
        
        <h1 class="font-4 white text-shadowed">AMAZON GDC</h1>
        <p class="font-5">Admin Dashboard</p>
        
        <hr class="hr-white">

        <form action="/api/session" method="POST">
            <div class="row field">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Username:</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5"><input class="full-width-size" type="text" name="username" value="admin"></div>
            </div>
            <div class="row field">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Password:</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5"><input class="full-width-size" type="password" name="password" value="password"></div>
            </div>
            <br>
            <div class="row field">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input class="full-width-size form-submit" type="submit" value="Login">
                </div>
            </div>
        </form>

    </div>
</div>