<div class="row dark-blue-bg full-screen-height-size body" ng-controller="PrizeController">
    
        <div class="row body-top-segment">
            
            <!-- IF User is logged in, show session options -->
            <div id="sessionOptionsContainer" class="sessionOptionsContainer"> 
                <p> Logged in as:  {{user.username}} </p>
                <button ng-click="logout()" class="ghost-button-1 logout-button"> Logout </button>
            </div>
                
            <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12 full-screen-width-size upper segment text-centered box-shadowed dark-green-bg">
                
                <h1 class="font-4 white text-shadowed"> {{header.title}} </h1>
                <p class="font-5"> {{header.subTitle}} <hr></p>
    
                <!-- Page Options -->
                <div class="row tile-container prizes-container" id="prizes-container" ng-show="!showPrizes && !createPrize">
                    <a class="col-lg-3 col-md-3 col-sm-12 col-xs-12 tile" ng-click="(option.action)()" ng-repeat="option in pageOptions">
                        <div class="title font-6"> {{option.title}}  </div>
                        <hr>
                        <div class="description padded font-1"> {{option.description}} </div>
                    </a>
                </div>
                    
                <!-- IF Showing Demos -->
                <div class="row tile-container prizes-container" id="prizes-container" ng-show="prizes.length && showPrizes">
                    <a class="tile" ng-class="showExtended ? 'col-lg-12 col-md-12 col-sm-12 col-xs-12' : 'col-lg-3 col-md-3 col-sm-12 col-xs-12'" ui-sref="prize({prizeId: '{{item._id}}' })" ng-repeat="item in prizes">
                        <div class="title font-6"> {{item.title}}  </div>
                        <hr>
                        <div class="team padded font-1"> Points: {{item.points}} </div>
                        <div class="team padded font-1" ng-hide="showExtended"> Redemtions: {{item.redemptions.length}} </div>
                        <div class="team padded font-1" ng-show="showExtended"> 
                            Redemtions:
                            <ul class="padded">
                                <li class="description font-1" ng-repeat="redemption in item.redemptions"> 
                                    Badge Number: ({{redemption.badgeNumber}}) <br>
                                    - {{redemption.firstName}} {{redemption.lastName}} 
                                </li>
                            </ul>
                        </div>
                        <div class="team padded font-1" ng-hide="showExtended"> Inventory: {{item.inventory.length}} </div>
                        <div class="team padded font-1" ng-show="showExtended"> 
                            Inventory:
                            <ul class="padded">
                                <li class="description font-1" ng-repeat="invention in item.inventory"> 
                                    {{invention}}
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
    
                <!-- IF Creating a new Demo -->
                <div class="row form-container" id="prizes-container" ng-show="createPrize">
                    <form action="/api/prize" method="POST">
                        <div class="row field">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Title:</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                                <input type="text" name="title" placeholder="Title" value="test_Prize" />
                            </div>
                        </div>
                        <div class="row field">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Points:</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                                <input type="number" name="points" placeholder="Points" value="100" />
                            </div>
                        </div>
                        <div class="row field">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">Image Key:</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-5">
                                <input type="text" name="imageKey" placeholder="Image Key" value="test_ImageKey" />
                            </div>
                        </div>
                        <br>
                        <div class="row field">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input class="full-width-size form-submit" type="submit" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
    
                <!-- IF Error messages -->
                <div class="row errorMessageContainer" ng-show="errorMessage.show">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tile">
                        <div class="title font-6"> {{errorMessage.title}}  </div>
                        <hr>
                        <ul class="description padded font-1">
                            <li ng-repeat="row in errorMessage.description">{{row}}</li>
                        </ul>
                    </div>
                </div>
                    
            </div>
        </div>
    
        <!-- Bottom Nav-Bar -->
        <div class="row body-bottom-segment full-screen-width-size">
            <a ui-sref="demos" ui-sref-opts="{reload: true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-centered segment font-4 white card">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-centered"> 
                    DEMOS
                </div>
            </a>
            <a ui-sref="demoStations" ui-sref-opts="{reload: true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-centered segment font-4 white card">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-centered"> 
                    DEMO STATIONS
                </div>
            </a>
            <a ui-sref="attendees" ui-sref-opts="{reload: true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-centered segment font-4 white card">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-centered"> 
                    ATTENDEES
                </div>
            </a>
            <a ui-sref="prizes" ui-sref-opts="{reload: true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-centered segment font-4 white card selected">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-centered"> 
                    PRIZES
                </div>
            </a>
        </div>
    
    </div>
    
                